// primary styles 

$black: #000;
$charcoal: #393835;
$white: #fff;
$blue: #0b02ff;
$red: #ff0000;
$orange: #E85E39;
$bgBrown: #ece3d9;
$darkBrown: #26221f;
$tan: #817869;

$light-offwhite: #f7f2ec;
$offwhite: #eee5df;
$dark-offwhite: #e7ddd3;
$darkgray: #756e62;
$buttonblue: #518fa3;
$borderGray: #ccc4bc;
$buttoncolor: #518fa3;
$gray: #737270;