// typography baselines and @font face setups

h1, h2, h3, h4 {
	@include franklinBook;
}

h2 {
	@include franklinDemiCond;
}

h4 {
	@include archerBold;
}

p, ul {
	@include archerBook;
    color: $gray;
    font-size: 14px;
    line-height: 24px;
}
