.events {

	&.wrapper {

		@include media($mobile) {
			padding: 20px 0 0;
		}
	}

	.content {
		
		@include media($tablet) {
			border-right: 1px solid $borderGray;
		}
		
		@include media($mobile) {
			@include span-columns(4);
			padding: 20px;
		}
	}
		
	.events_top {
		margin-bottom: 20px;

		@include media($mobile) {
			margin-bottom: 60px;
		}
		
		p {
			margin-bottom: 10px;
		}
	}
	
	.sort_container {
		@include clearfix;
		text-align: center;
		
		.results_number, .filter_events {
			display: inline-block;
			float: left;
			margin-bottom: 10px;
			line-height: 1.2;
		}
		
		.results_number {
			float: left;
			font-size: 14px;
			margin: 1.33em 0;
			
			@include media($tablet) {
				text-align: center;
			}
			
			@include media($mobile) {
				width: 100%;
			}
		}
		
		.results_category {
			@include archerBold;
			float: left;
			font-size: 14px;
			margin: 1.33em 0 1.33em 5px;
			text-transform: uppercase;
			
			@include media($tablet) {
				@include span-columns(8);
				text-align: center;
			}
		}
		
		.filter_events {
			font-size: 1em;
			margin: 1.1em 0;
			float: right;
			min-width: 245px;
		
			@include media($mobile) {
				margin: 0 auto 30px;
				@include span-columns(3.2);
				@include shift(0.5);
			}
			
			h3 {
				float: left;
				font-size: 0.8em;
				@include archerBold;
				text-transform: uppercase;
				margin: 0 10px 0 0;
			}
			
			> label {
				margin-top: 2px;
			}
			
			label {
				float: left;
				font-size: 0.8em;
				@include archerBold;
				text-transform: uppercase;
			}
			
			.dd-container {
				float: left;
				clear: none;
				margin-bottom: 0;	
				width: 70% !important;
				
				.dd-select {
					background-color: transparent !important;
				}
				
				a {
					padding-left: 10px;
				}
				
				label {
					padding-right: 25px;
					//font-size: 0.5em;
				}
			}
			
		}
		
		.event_filters {
			@include span-columns(12);
			border-right: none;
			
			@include media($mobile) {
				@include span-columns(8);
				display: none;
				height: 100%;
				position: fixed;
				top: 0;
				left: 0;
				z-index: 12;
				background-color: $offwhite;
				padding: 40px 20px 75px;
			}
		}
		
		.wave_border {
			margin-top: 0;
		}
		
		.sort_from, .sort_to {
			@include span-columns(6);

            @include media($mobile) {
            	@include span-columns(8);
				margin-right: 0;
            }
			
			h3 {
				float: left;
				margin: 6px 20px 0 0;
				text-transform: uppercase;
				@include archerBold;
				font-size: 14px;
			}
			
			input[type="text"] {
				@include span-columns(8);
				margin-bottom: 10px;
				padding: 10px 20px;
				-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				-moz-box-sizing: border-box;    /* Firefox, other Gecko */
				box-sizing: border-box;         /* Opera/IE 8+ */
				@include archerBook;
				font-size: 14px;
				background: url('../images/sidebar_expand.png') right no-repeat;
				background-position: right 20px center;
				background-color: $white;
				border: none;

				@include media($break900) {
					background-position: right 5px center;
					padding: 10px 5px;
				}

                @include media($tablet) {
                	@include span-columns(8);
                }
			}
		}
	}
	
	.mobile_filter_button {
		display: none;
		margin-bottom: 20px;
		
		@include media($mobile) {
			display: block;
		}
	}
	
	.events_list {
		@include span-columns(12);
		@include clearfix;
		
		.date_header {
			@include span-columns(12);
			margin-top: 40px;
			text-transform: uppercase;
			@include archerBold;
			font-size: 14px;
			
			@include media($mobile) {
				margin-top: 10px;
				font-size: 16px;
			}
		}
		
		.event {
			@include span-columns(12);
			padding: 30px;
			background-color: #f7f2ec;
			margin-bottom: 10px;

			@include media($mobile) {
				padding: 20px 20px 30px;
			}
			
			h2 {
				display: block;
				@include franklinDemiCond;
				font-size: 24px;
				text-transform: uppercase;

				@include media($mobile) {
					font-size: 30px;
				}

				a {
					color: $charcoal;
				}
			}
			
			p {
				margin-bottom: 14px;
				@include archerBook;
				font-size: 14px;
			}

			.blue_border_button {
				@include span-columns(3);
				min-width: 155px;

                @include media($tablet) {
                  @include span-columns(3);
                  margin-bottom: 10px;
                }

                @include media($mobile) {
					width: 65%;
					height: 45px;
					float: none;
					padding: 14px;
					margin-bottom: 0;
                }

				a {

					@include media($mobile) {
						font-size: 14px;
					}
				}
			}

          .mobile_filter_button {
			display: none;

            @include media($mobile) {
				display: block;
				padding: 14px;
            }

	        a {

		        @include media($mobile) {
		        	font-size: 14px;
		        }
	        }
          }
		}
	}

    .sidebar {
      @include media($mobile) {
        display: none;
      }
    }

    .container > .content {
      @include media($mobile) {
        width: 100%;
      }
    }
    
    .events-community-submit {
	    @include span-columns(12);
		@include archerSemibold;
		font-size: 12px;
		padding: 10px;
		background: url('../images/blue_button_bg_large.png') center no-repeat;
		background-size: 100% 100%;
		border: none;
		text-align: center;
		color: #518fa3;
		text-transform: uppercase;
    }
}

#tribe-community-events {

    input[type="text"] {
        @include span-columns(8);
        @include archerBook;
        margin-bottom: 10px;
        padding: 10px 20px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
        font-size: 14px;
        background-color: $white;
        border: none;
    }

    textarea {
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
        font-size: 14px;
        background-color: $white;
        border: none;
    }

    label.selectit {
        font-size: 11px;
    }

    .dd-select {
        width: 66% !important;

        .dd-selected {
            padding: 15px 15px !important;
        }
    }

    .chosen-container {
        display: none;
    }
}