.search_page, .no_page {
	
	.content {
		
		#searchform {
			@include span-columns(12);
		
			input.field {
				@include span-columns(12);
				margin-bottom: 60px;
				padding: 10px 0 10px 30px;
				-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
				-moz-box-sizing: border-box;    /* Firefox, other Gecko */
				box-sizing: border-box;         /* Opera/IE 8+ */
			}
			
			img {
				position: absolute;
				right: 40px;
				top: 12px;
			}
		}
		
		.results_number {
			@include span-columns(12);
			text-align: center;
			text-transform: uppercase;
			font-size: 14px;
		}
		
		.search_result {
			@include span-columns(12);
			background-color: #f7f2ec;
			border: 1px solid $borderGray;
			margin-bottom: 20px;
			padding: 20px 30px;
			
			h2 {
				text-transform: uppercase;
				@include franklinDemiCond;
				font-size: 24px;
				
				a {
					color: $charcoal;
					float: none;
					font-family: inherit;
					font-weight: inherit;
					font-style: normal;
					font-size: inherit;
				}
			}
			
			p {
				@include archerBook;
				font-size: 14px;
			}
			
			a {
				color: $buttonblue;
				float: left;
				@include archerBold;
				font-size: 14px;
			}
		}
	}
}